<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block title %}
        <title>Course Management</title>
        {% endblock %}
    </head>
    <body>
        {% block link %}
        <p><a href="/course_management/">Go to <b>HOME</b></a></p>
        <p><a href="/student_list/">Go to <b>Student List</b></a></p>
        <p><a href="/course_list/">Go to <b>Course List</b></a></p>
        {% endblock %}
        {% block body %}
        {% endblock %}
    </body>
</html>