{% extends "base.html" %}
{% block title %}
<title>Course Detail</title>
{% endblock %}
{% block body %}
<h2>Course Detail</h2>
<table border="1">
    <tr>
        {% for table_header in course_header %}
        <th>{{ table_header }}</th>
        {% endfor %}
    </tr>
    <tr>
        {% for row_value in course_row %}
        <td>{{ row_value }}</td>
        {% endfor %}
    </tr>
</table>
<h3>Student List</h3>
<table border="1">
    <tr>
        {% for table_header in student_header %}
        <th>{{ table_header }}</th>
        {% endfor %}
    </tr>
    {% for student_row in student_rows %}
    <tr>
        {% for row_value in student_row %}
        <td>{{ row_value }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}