{% extends "base.html" %}
{% block title %}
<title>Course List</title>
{% endblock %}
{% block body %}
<h2>Course List</h2>
<table border="1">
    <tr>
        {% for table_header in table_header %}
        <th>{{ table_header }}</th>
        {% endfor %}
        <th>Details</th>
    </tr>
    {% for row in rows %}
    <tr>
        {% for row_value in row %}
        <td>{{ row_value }}</td>
        {% endfor %}
        <td><a href="/course_detail/{{ forloop.counter0 }}">link</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}